airline.dtd

<!ELEMENT AirlineData (HoChieus, LoaiVes, ChiTietVes, ThongTinHanhKhachs)>

<!-- HO CHIEU -->
<!ELEMENT HoChieus (HoChieu+)>
<!ELEMENT HoChieu (SoHoChieu, QuocTich?, NgayCap, NgayHetHan, NuocCap)>
<!ELEMENT SoHoChieu   (#PCDATA)>
<!ELEMENT QuocTich    (#PCDATA)>
<!ELEMENT NgayCap     (#PCDATA)>
<!ELEMENT NgayHetHan  (#PCDATA)>
<!ELEMENT NuocCap     (#PCDATA)>

<!--LOAI VE-->
<!ELEMENT LoaiVes (LoaiVe+)>
<!ELEMENT LoaiVe (MaLoaiVe, MaVe, TenLoaiVe)>
<!ELEMENT MaLoaiVe    (#PCDATA)>
<!ELEMENT MaVe        (#PCDATA)>
<!ELEMENT TenLoaiVe   (#PCDATA)>

<!-- CHI TIET VE -->
<!ELEMENT ChiTietVes (ChiTietVe+)>
<!ELEMENT ChiTietVe (MaVe, MaTuyenBay, MaHK, HangGhe, SoGhe, GiaTien, Thue, ThanhTien, TrangThai)>
<!ELEMENT MaTuyenBay  (#PCDATA)>
<!ELEMENT MaHK        (#PCDATA)>
<!ELEMENT HangGhe     (#PCDATA)>     
<!ELEMENT SoGhe       (#PCDATA)>     
<!ELEMENT GiaTien     (#PCDATA)>     
<!ELEMENT Thue        (#PCDATA)>    
<!ELEMENT ThanhTien   (#PCDATA)>
<!ELEMENT TrangThai   (#PCDATA)>     

<!--THONG TIN HANH KHACH -->
<!ELEMENT ThongTinHanhKhachs (ThongTinHanhKhach+)>
<!ELEMENT ThongTinHanhKhach (CCCD, MaVe, SoHoChieu, HoTen, SoDienThoai)>
<!ELEMENT CCCD        (#PCDATA)>
<!ELEMENT HoTen       (#PCDATA)>
<!ELEMENT SoDienThoai (#PCDATA)>
