DATCHO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/datcho"
           xmlns="http://example.com/datcho"
           xmlns:hk="http://example.com/hanhkhach"
           xmlns:tk="http://example.com/taikhoan"
           xmlns:kg="http://example.com/kigui"
           xmlns:airport="http://example.com/airportsystem"
           elementFormDefault="qualified">
  <!-- chứa key chung -->

  <!-- Import schemas -->
  <xs:import namespace="http://example.com/hanhkhach"
             schemaLocation="HANHKHACH.xsd"/>
  <xs:import namespace="http://example.com/taikhoan"
             schemaLocation="TAIKHOAN.xsd"/>
  <xs:import namespace="http://example.com/kigui"
             schemaLocation="KIGUI.xsd"/>
  <xs:import namespace="http://example.com/airportsystem"
             schemaLocation="AirportSystem.xsd"/>

  <!-- Kiểu dữ liệu riêng -->
  <xs:simpleType name="TrangThaiDatChoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MOI"/>
      <xs:enumeration value="XAC_NHAN"/>
      <xs:enumeration value="HUY"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Định nghĩa DatCho -->
  <xs:element name="DanhSachDatCho">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DatCho" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MaDatCho" type="xs:integer"/>
              <xs:element name="MaTK" type="xs:integer"/>
              <xs:element name="MaChuyenBay" type="xs:integer"/>
              <xs:element name="MaKiGui" type="xs:integer"/>
              <xs:element name="MaPNR" type="xs:string"/>
              <xs:element name="NgayDat" type="xs:date"/>
              <xs:element name="TrangThai" type="TrangThaiDatChoType"/>
              <xs:element name="TongTien" type="xs:decimal"/>
              <xs:element name="ThoiHanGiuCho" type="xs:dateTime"/>
              <xs:element name="PhuongThucTT" type="xs:string"/>
              <xs:element name="GhiChu" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- Unique MaDatCho -->
    <xs:unique name="Unique_DatCho_MaDatCho">
      <xs:selector xpath="DatCho"/>
      <xs:field xpath="MaDatCho"/>
    </xs:unique>

    <!-- Khóa ngoại MaTK tham chiếu TaiKhoan.MaTK -->
    <xs:keyref name="FK_DatCho_TaiKhoan"
               refer="tk:Unique_TaiKhoan_MaTK">
      <xs:selector xpath="DatCho"/>
      <xs:field xpath="MaTK"/>
    </xs:keyref>

    <!-- Khóa ngoại MaChuyenBay tham chiếu ChuyenBay.MaChuyenBay -->
    <xs:keyref name="FK_DatCho_ChuyenBay"
               refer="airport:pk_ChuyenBay">
      <xs:selector xpath="DatCho"/>
      <xs:field xpath="MaChuyenBay"/>
    </xs:keyref>

    <!-- Khóa ngoại MaKiGui tham chiếu KiGui.MaKiGui -->
    <xs:keyref name="FK_DatCho_KiGui"
               refer="kg:Unique_KiGui_MaKiGui">
      <xs:selector xpath="DatCho"/>
      <xs:field xpath="MaKiGui"/>
    </xs:keyref>
  </xs:element>

</xs:schema>