DATCHO.dtd

<!ELEMENT DanhSachDatCho (DatCho+)> 
<!ELEMENT DatCho (MaDC, MaHK, NgayDat, SoGhe?, TrangThai, GhiChu?)>

<!ELEMENT MaDC (#PCDATA)>
<!ELEMENT MaHK (#PCDATA)>
<!ELEMENT NgayDat (#PCDATA)>
<!ELEMENT SoGhe (#PCDATA)>
<!ELEMENT TrangThai (#PCDATA)>
<!ELEMENT GhiChu (#PCDATA)>

<!-- Lưu ý: DTD không hỗ trợ enumeration (MOI/XAC_NHAN/HUY) như XSD. -->
