HANHKHACH.dtd

<!ELEMENT DanhSachHanhKhach (HanhKhach+)> 
<!ELEMENT HanhKhach (MaHK, HoTen, NgaySinh, Email, DienThoai, SoHoChieu?)>

<!ELEMENT MaHK (#PCDATA)>
<!ELEMENT HoTen (#PCDATA)>
<!ELEMENT NgaySinh (#PCDATA)>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT DienThoai (#PCDATA)>
<!ELEMENT SoHoChieu (#PCDATA)>

<!-- Lưu ý: DTD không kiểm tra kiểu dữ liệu, pattern hay uniqueness như XSD. -->
