Hochieu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/airline"
           xmlns="http://example.com/airline"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:include schemaLocation="common_type.xsd"/>

  <xs:complexType name="HoChieuType">
    <xs:sequence>
      <xs:element name="SoHoChieu" type="PassportNumber"/>
      <xs:element name="QuocTich" type="xs:string"/>
      <xs:element name="NgayCap" type="xs:date"/>
      <xs:element name="NgayHetHan" type="xs:date"/>
      <xs:element name="NuocCap" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
