KIGUI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/kigui"
           xmlns="http://example.com/kigui"
           elementFormDefault="qualified">
  
  
  <!-- chứa key chung -->

  <!-- Kiểu dữ liệu riêng -->
  <xs:simpleType name="TrangThaiKiGuiType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GUI"/>
      <xs:enumeration value="NHAN"/>
      <xs:enumeration value="THAT_LAC"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Định nghĩa KiGui (ký gửi hành lý) -->
  <xs:element name="DanhSachKiGui">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="KiGui" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MaKiGui" type="xs:integer"/>            
              <xs:element name="SoKiGui" type="xs:decimal"/>
              <xs:element name="ThanhToan" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <!-- Unique MaKiGui -->
    <xs:unique name="Unique_KiGui_MaKiGui">
      <xs:selector xpath="KiGui"/>
      <xs:field xpath="MaKiGui"/>
    </xs:unique>

  </xs:element>

</xs:schema>