KIGUI.dtd

<!ELEMENT DanhSachKiGui (KiGui+)> 
<!ELEMENT KiGui (MaKG, MaHK, SoHieuHanhLy, TrongLuongKg, TrangThai, NgayGui, NgayNhan?, GhiChu?)>

<!ELEMENT MaKG (#PCDATA)>
<!ELEMENT MaHK (#PCDATA)>
<!ELEMENT SoHieuHanhLy (#PCDATA)>
<!ELEMENT TrongLuongKg (#PCDATA)>
<!ELEMENT TrangThai (#PCDATA)>
<!ELEMENT NgayGui (#PCDATA)>
<!ELEMENT NgayNhan (#PCDATA)>
<!ELEMENT GhiChu (#PCDATA)>

<!-- Lưu ý: DTD không hỗ trợ key/keyref tới HANHKHACH như XSD. -->
