KIGUI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/kigui"
           xmlns="http://example.com/kigui"
           xmlns:hk="http://example.com/hanhkhach"
           elementFormDefault="qualified">

  <!-- Import schema HanhKhach -->
  <xs:import namespace="http://example.com/hanhkhach"
             schemaLocation="HANHKHACH.xsd"/>

  <!-- Kiểu dữ liệu riêng -->
  <xs:simpleType name="TrangThaiKiGuiType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GUI"/>
      <xs:enumeration value="NHAN"/>
      <xs:enumeration value="THAT_LAC"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Định nghĩa KiGui (ký gửi hành lý) -->
  <xs:element name="DanhSachKiGui">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="KiGui" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MaKG" type="xs:integer"/>
              <xs:element name="MaHK" type="xs:integer"/>
              <xs:element name="SoHieuHanhLy" type="xs:string"/>
              <xs:element name="TrongLuongKg" type="xs:decimal"/>
              <xs:element name="TrangThai" type="TrangThaiKiGuiType"/>
              <xs:element name="NgayGui" type="xs:date"/>
              <xs:element name="NgayNhan" type="xs:date" minOccurs="0"/>
              <xs:element name="GhiChu" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- Unique MaKG -->
    <xs:unique name="Unique_KiGui_MaKG">
      <xs:selector xpath="KiGui"/>
      <xs:field xpath="MaKG"/>
    </xs:unique>

    <!-- Khóa ngoại MaHK tham chiếu HanhKhach.MaHK -->
    <xs:keyref name="FK_KiGui_HanhKhach"
               refer="hk:Unique_HanhKhach_MaHK">
      <xs:selector xpath="KiGui"/>
      <xs:field xpath="MaHK"/>
    </xs:keyref>
  </xs:element>

</xs:schema>
